body {
  color: rgb(51, 51, 51);
  background-color: rgb(238, 238, 238);
  font-family: sans-serif;
}


#img-div {
  height: auto;
  background-color: #ffffff;
  margin: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

#image {
  display: block;
  max-width: 70%;
  height: auto;

}

figcaption {
  text-align: center;
  padding: 10px;
}

header {
  text-align: center;
}

section {
  justify-content: center;
  align-items: center;
  width: 60%;
  padding-left: 20%;
}

li {
  padding-bottom: 20px;
  padding: 10px;
  line-height: 1.5;
}

h3 {
  text-align: center;
}

footer {
  text-align: center;
  font-size: 1.2rem;
  padding: 30px;
}

a {
  text-decoration: none;
}

h1{
  padding: 1rem;
}
